<div class="nave-detalhe-container" *ngIf="!isLoading">
  <div class="back-button-container">
    <button (click)="voltar()">Voltar</button>
  </div>

  <h1>{{ nave?.name }}</h1>

  <div>
    <div class="nave-info">
      <div class="custo">
        <p><strong>Custo:</strong> {{ nave?.cost_in_credits }} créditos</p>
      </div>
      <div class="classificacao">
        <p><strong>Velocidade Hyperdrive:</strong> {{ nave?.hyperdrive_rating }}</p>
      </div>
      <div class="comprimento">
        <p><strong>Comprimento:</strong> {{ nave?.length }} metros</p>
      </div>
      <div class="passageiros">
        <p><strong>Passageiros:</strong> {{ nave?.length }} passageiros</p>
      </div>
    </div>

    <div class="parent-container">
      <div class="extra-info">
        <div class="films-section">
          <h2>Filmes</h2>
          <ul>
            <li *ngFor="let film of films">
              <img [src]="getFilmBackgroundImage(film)" [alt]="film">
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="parent-container" *ngIf="hasPilots()">
      <div class="extra-info">
        <div class="pilots-section">
          <h2>Pilotos</h2>
          <ul>
            <li *ngFor="let pilot of pilots">{{ pilot }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isLoading" class="loading-nave-detalhes">
  <img src="../../assets/imperial_loading.png" alt="Carregando informações..." />
</div>