<app-header title="Naves Estelares"></app-header>

<div class="search-container" *ngIf="!isLoading">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    placeholder="Digite o nome da nave"
    class="search-input"
  />
  <button (click)="onSearch()" class="search-button">Buscar</button>
</div>

<div *ngIf="isLoading" class="loading">
  <div class="loading-naves">
    <img src="../../assets/naves_loading.gif" alt="Carregando Naves..." />
  </div>
</div>

<div *ngIf="!isLoading && noResultsFound" class="alert-empty">
  Nenhuma nave encontrada.
  <button (click)="reloadNaves()" class="reload-button">Voltar</button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!isLoading && !noResultsFound">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let nave" (click)="onRowClick(nave)">
      {{ nave.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef> Modelo </th>
    <td mat-cell *matCellDef="let nave" (click)="onRowClick(nave)">
      {{ nave.model }}
    </td>
  </ng-container>

  <ng-container matColumnDef="crew">
    <th mat-header-cell *matHeaderCellDef> Tripulação </th>
    <td mat-cell *matCellDef="let nave" (click)="onRowClick(nave)">
      {{ nave.crew }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator
  *ngIf="!isLoading && !noResultsFound"
  [length]="totalDeNaves" 
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions" 
  (page)="onPageChange($event)" 
  color="accent"
  showFirstLastButtons aria-label="Selecione a página">
</mat-paginator>

<div *ngIf="selectedNave && !noResultsFound" class="nave-details-container">
  <div class="nave-details-desc">
    <h3><strong>Nave:</strong> {{ selectedNave.name }}</h3>
    <p><strong>Modelo:</strong> {{ selectedNave.model }}</p>
    <p><strong>Tripulação:</strong> {{ selectedNave.crew }}</p>
    <p><strong>Fabricante:</strong> {{ selectedNave.manufacturer }}</p>
  </div>
  
  <div class="button-container">
    <button class="learn-more-button" (click)="irParaDetalhes()">Saiba Mais</button>
  </div>
  
  <div class="nave-details-image">
    <img [src]="getNaveImage()" alt="{{ selectedNave.name }} image" />
  </div>

</div>