.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    gap: 2rem;
    height: 5%;
    border-bottom: 2px solid #444;
  
    .nav-link {
      text-decoration: none;
      color: #fff;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 0.4vw 1.2vw;
      border-radius: 5px;
      transition: background-color 0.3s, color 0.3s;
      
      @media (max-width: 400px) {
        padding: 1vw 2vw;
      }
  
      &:hover:first-child {
        background: linear-gradient(125deg, rgba(12,12,12,1) 0%, rgba(58,58,58,1) 55%);
        box-shadow: 0 0 2px #00000080;
        color: #fff; 
        filter: brightness(1.15);
      }

      &:hover:nth-child(2) {
        background: linear-gradient(180deg, rgba(12,12,12,1) 0%, rgba(58,58,58,1) 65%);
        box-shadow: 0 0 2px #00000080;
        color: #fff;
        filter: brightness(1.15);
      }

      &:hover:last-child {
        background: linear-gradient(250deg, rgba(12,12,12,1) 0%, rgba(58,58,58,1) 55%);
        box-shadow: 0 0 2px #00000080;
        color: #fff;
        filter: brightness(1.15);
      }
  
      &.active {
        background: linear-gradient(357deg, rgba(12,12,12,1) 0%, rgba(58,58,58,1) 65%) !important;
        border: 1px solid #FFD700;
        color: #e0e0e0;
    }
  }
}

:host ::ng-deep .mat-mdc-paginator-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292929;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);

  .mat-mdc-paginator-container { justify-content: center; gap: 8px; }

  .mat-mdc-paginator-page-size { margin: 0; }

  .mat-mdc-paginator-range-label { color: #ffa600; margin: 0 15px;
  }

  .mat-mdc-raised-button.mat-warn { --mdc-protected-button-container-color: #fff; }

  .mat-warn { --mat-option-selected-state-label-text-color: #fff; }
  
  .mat-mdc-paginator-icon { fill: #ffa600; }
  
  .mat-mdc-form-field.mat-accent {
    --mdc-outlined-text-field-focus-outline-color: #ffa600;
    --mat-select-focused-arrow-color: #ffa600de;
  }
}