<div class="filme-detalhe-container" *ngIf="filme; else loading">
  <button mat-raised-button color="warn" class="btn-voltar" (click)="voltarPagina()">Voltar</button>

  <div class="imagem-container" [ngStyle]="{ 'background-image': 'url(' + getBackgroundImage() + ')' }"></div>

  <div class="descricao-container" *ngIf="isDescriptionVisible" [@fadeIn]>
    <mat-card class="filme-info">
      <mat-card-content>
        <p><strong>Diretor:</strong> {{ filme.director }}</p>
        <p><strong>Data de Lançamento:</strong> {{ filme.release_date | date:'dd/MM/yyyy' }}</p>
        <p class="descricao"><strong>Descrição:</strong> {{ getDescricaoTraduzida() }}</p>

        <div class="planetas-container">
          <ng-container *ngIf="filme?.planets?.length">
            <h3>Planetas</h3>
            
            <button class="btn-mostrar-todos" *ngIf="!allPlanetsDisplayed" (click)="showAllPlanets()">
              Exibir todos
            </button>

            <div class="planeta-grid">
              <ng-container *ngFor="let planetUrl of filme.planets">
                <div class="planeta-item">
                  <button *ngIf="!displayedPlanets[planetUrl]" (click)="showPlanetImage(planetUrl)" [disabled]="loadingPlanets[planetUrl]">
                    {{ planetNames[planetUrl] || 'Carregando...' }}
                  </button>
                  <img
                    *ngIf="displayedPlanets[planetUrl]"
                    [@fadeIn]
                    [src]="planetImages[planetNames[planetUrl]] || '../../assets/planets/Unknown.svg'"
                    [alt]="planetNames[planetUrl]"
                  />
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #loading>
  <div class="loading">
    <img src="../../assets/loading/vader_loading.gif" alt="Carregando..." />
  </div>
</ng-template>
