.home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/nave-detalhe_wallpaper.gif'); 
    height: calc(100vh - 132px);
    color: white;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #ffd700;
  
    .content {
      max-width: 80%;
      
      h1, p {
        color: #ffcc00;
        position: relative;
        transform: rotateX(-45deg);
      }

      h1 {
        font-family: 'Star Jedi', sans-serif;
        font-size: clamp(2rem, 6vw, 4rem);
        font-weight: bold;
        letter-spacing: 8px;
      }
  
      p {
        font-size: clamp(1.25rem, 4.25vw, 2rem);
        margin-bottom: 2rem;
        letter-spacing: 4px;
      }
    }

    @media (max-width: 430px) {  
      h1 { letter-spacing: 4px; transform: rotateX('-15deg'); }
      p { letter-spacing: 2px; transform: rotateX(-10deg); line-height: 1.4; }
    }
  
    .scroll-button {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      background: transparent;
      border: none;
      color: #ffcc00;
      font-size: 2rem;
      cursor: pointer;
      transition: all 0.3s;

      .mat-icon { transition: transform 0.4s; }
  
      &:hover .mat-icon {
        color: #fff;
        filter: drop-shadow(0px 2px 2px #ffffff80);
        transform: translateY(-10px);
        transition-duration: 0.8s;
      }

      &:active .mat-icon { transform: translateY(10px); transition-duration: 0.25s; }
    }
}

#personagens-e-citacoes {
    background-color: #1c1c1c;
    height: 100vh;
    color: #ffd700;
    margin-bottom: 30px;

    h2 {
        font-size: 1.5rem;
        margin-bottom: 20px;
        font-weight: bold;
        text-align: center;
        padding-top: 20px;
    }

    .filters {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        .filter-options {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 30px;
        flex-wrap: wrap;

        .filter-icon {
            background: #ffd700;
            color: #000;
            padding: 8px;
            border-radius: 50%;
            cursor: pointer;
            &:hover { background-color: #b3b3b3; }
        }

        .search-container {
          display: flex;
          background: transparent;
          gap: 10px;
          flex-wrap: wrap;
        }

        .search-input, .search-button {
          padding: 10px 15px;
          border: none;
          border-radius: 25px;
        }
    
        .search-input {
            width: 300px;
            font-style: italic;
            font-size: 1rem;
            background: #333;
            color: #fff;
            &:focus { outline: 2px solid #ffd700; }
        }
    
        .search-button {
            background-color: #ffd700;
            cursor: pointer;
            &:hover { background-color: #b3b3b3; }
        }
      }
    }

    .personagens-bloco {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: calc(100% - 220px);
        background: #1c1c1c;
        padding: 20px;
        gap: 2rem;

        &.single-character { justify-content: center; align-items: center; }

        .personagem-container {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          gap: 2rem;
        }
        
        .personagem {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            width: 15%;

          .personagem-img {
            width: 140px;
            height: 140px;
            object-fit: cover;
            border-radius: 50%;
            border: 2px solid #ffd700;
            z-index: 1;
            margin: 10px 0;
          }
      
          .personagem-nome {
            font-size: 1.2rem;
            font-weight: bold;
            color: #fff;
            margin-bottom: 4px;
          }
      
          .personagem-titulo { font-size: 1rem; color: #ffd700; }
        }

        .info-card {
          flex: 1;
          max-width: 320px;
          background-color: #404040;
          border-radius: 10px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 16px;
        }
        
        .card-header-content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 8px;
        }
        
        mat-card-title { color: #fff; font-size: 18px; font-weight: bold; }
        
        mat-card-subtitle { color: #bbb; font-size: 16px; }
        
        mat-card-content p { color: #ccc; font-size: 14px; margin: 4px 0; }
        
        mat-card-content p strong { color: #fff; }

        .card-description {
          display: flex;
          flex-direction: column;
          text-align: left;
          width: 100%;
        }
    }
}

.loading-personagens {
  display: flex;
  justify-content: center;
  height: calc(100vh - 75px);
  background: linear-gradient(357deg, rgba(80, 80, 80, 1) 10%, rgba(50, 50, 50, 1) 50%, rgba(34, 34, 34, 1) 90%);
  img {
    height: calc(90vh - 250px);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;  
  }
  @media (max-width: 430px) { height: calc(100vh - 4.5rem); 
    img { width: 100vw; height: calc(80vh - 7.5rem); }
  }
}

::ng-deep {
  .mat-mdc-menu-panel, .mat-mdc-menu-content, .gender-menu .filter-column, .species-menu .filter-column,
  .gender-menu, .species-menu, .mat-mdc-card-header, .mat-mdc-card-content {
    padding: 0 !important;
  }

  .gender-menu .filter-column, .species-menu .filter-column, .gender-menu, .species-menu {
    background-color: #333 !important;
  }

  .mat-mdc-menu-panel, .gender-menu .filter-column, .species-menu .filter-column {
    border-radius: 6px !important;
  }

  .mat-mdc-menu-content, .filter-column .mat-mdc-checkbox-checked .mdc-checkbox__background svg, .mat-mdc-menu-item:hover {
    color: #fff !important;
  }

  .custom-checkbox, .custom-checkbox .mdc-form-field { color: #ffcc00 !important; }

  .custom-checkbox, .mat-mdc-menu-item { font-weight: bold !important; }

  .mat-mdc-card-header, .mat-mdc-card-content, .card-header-content {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
  }
  
  .mat-mdc-menu-panel {
    border: 1px solid #f0e68c !important;
    box-shadow: 0px 4px 10px rgba(255, 255, 0, 0.4) !important;
  }

  .mat-mdc-menu-content { background-color: transparent !important; }

  .filter-column mat-checkbox {
    margin-bottom: 0 !important;
    padding-right: 8px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
  
  .filter-column mat-checkbox:hover { background-color: #1c1c1c !important; }
  
  .filter-column .mat-mdc-checkbox-checked .mdc-checkbox__background {
    background-color: #000 !important;
    border-color: #ffd700 !important;
  }
  
  .filter-column .mat-mdc-checkbox-checked { background-color: #111; }
  
  .species-menu .filter-column {
    height: 40vh !important;
    overflow-y: auto !important;
  }
  
  .gender-menu { overflow-y: hidden !important; }
  
  .gender-menu .filter-column { height: max-content !important; }
  
  .custom-checkbox {
    display: block !important;
    margin-bottom: 4px !important;
  }
  
  .mat-mdc-menu-item {
    color: #f0e68c !important;
    transition: background-color 0.3s ease-in-out !important;
    &:hover { background-color: #1c1c1c !important; }
  }
    
  .mat-mdc-card-header,
  .card-header-content {
    align-items: center !important;
    text-align: center !important;
  }

  .mdc-snackbar {
    border: 2px solid transparent !important;
    box-shadow: 0 0 0 2px transparent !important;
    filter: brightness(1.5) !important;
    animation: gradientAnimation 3s ease-in-out infinite !important;
  }

  .mdc-snackbar__surface { background: rgba(0, 0, 0, 0.5) !important; }

  .mat-mdc-snack-bar-label { color: #fff !important; }

  .mdc-snackbar__action {
    .mdc-button__label { color: #f00 !important; font-size: 1.25rem !important }
  }

  .mdc-button__ripple { 
    background-color: rgba(41, 41, 41, 0.75) !important; 
    &::before {
      background-color: rgba(255, 255, 255, 0.9) !important;
    }
  }

  @keyframes gradientAnimation {
    0% { box-shadow: 0 0 0 2px linear-gradient(45deg, #FFD700, #ffd82c, #FFD700); }
    50% { box-shadow: 0 0 0 2px linear-gradient(45deg, #ffd82c, #FFD700, #ffd82c); }
  }
}

@media (max-width: 768px) {
  .personagem-bloco, .personagem-container {
    flex-direction: column;
    align-items: center;
  }
  
  .personagens-bloco { gap: 8px; }
  
  #personagens-e-citacoes .personagens-bloco .personagem, .personagem-container {
    width: 100%;
  }
  
  .personagem-container { flex-wrap: wrap; gap: 4px !important; }

  .info-card, .personagem-left, .personagem-right, .personagem-img { margin-bottom: 10px; }

  .info-card, .card-description { padding: 8px !important; }
  
  .info-card { width: 320px; }

  .personagem-img { width: 80%; }

  .personagem-nome { font-size: 16px; }
}

@media (max-width: 540px) {
  #personagens-e-citacoes .personagens-bloco { padding: 0; }

  .filters { flex-direction: column; align-items: center; gap: 10px; }

  .filter-options { width: 100%; gap: 15px; }

  .search-container { width: 90%; justify-content: center; }

  .search-input, .search-button { font-size: 0.9rem; }

  .search-input { width: 70%; }

  .search-button { width: 25%; }

  .filter-icon { padding: 6px; font-size: 1.2rem; }

  .info-card { width: 80% !important; padding: 0 !important; }
}